.blog-roll
{

	img
	{

		@include ease;

		&:hover
		{
			opacity: 0.8;
		}
	}

    padding-left: 0;

	& li
	{
	    display: block;
	    list-style: none;
	    margin-bottom: 60px;


	
		p
		{
		    color: $navy; 
		    margin-bottom: 25px;
		}

		cursor: pointer;
	}
}