/*----- Footer -----*/

footer
{
	background: #293241;
	
	font-size: 11px;
	text-align: center;
    
}

footer p
{
    
    color: #E0FBFC;
    margin: 0;
    padding-top: 21px;
    padding-bottom: 21px;
}