/*----- Header ----- */

header
{
	background: $navy;
	padding: 10px;
	/*position: fixed;*/
	width: 100%;

	body#home &
	{
		margin-bottom: 0px;
	}

	.row
	{
		margin-bottom: 0px;
	}

	nav
	{
		float: right;
		text-align: right;
	}

	.logo
	{
		float: left;
		width:65px;
	}

	

	@include breakpoint(phone) {

		text-align: center;
		
		.logo 
		{
			float: none;
		    width: 80px;
		    margin: auto;
		    display: block;
	  	}

		nav 
		{
			float: none;
			text-align: center;
			a 
			{
				display: block;
				width: 100%;
				padding: 5px;
				border-bottom: 3px solid $orange;
			}
  		}
	}
}




