a 
{
    @include ease;
}

nav a:hover 
{
    color: $green;
}

.button
{
    background: $orange;
    color: $white;
    padding: 10px 15px;
    font-size: 13px;
    text-decoration: none;

    &:hover
    {
        background: $navy;
        color: $teal;
    }
}

main a
{
    color: $orange;
    text-decoration: none;
}

main a:hover 
{
    color: $navy;
}