img
{
  //width: 100%;

  &:hover
  {
    // opacity: 0.8;
    // @include ease;
  }
}

main
{
    background-color: $white;
    padding-top: 1px;
    padding-bottom: 20px;
    /*padding-top: 80px;*/

    body#home &
	{
	    padding-top: 0px;

	    /*
        padding-top: 80px;

        @media (max-width: 500px){
	    	padding-top: 140px;
	    }*/
	}

    body#blog &
    {
        padding-bottom: 0;
    }

    /*@media (max-width: 500px){
    	padding-top: 140px;
    }*/

    

}

h3
{
    color: $orange;
}