// h1, h2, h3, h4, h5
// {
// 	font-weight: 800;
// }

// h1, h2
// {
// 	text-transform: uppercase;
// }

b, strong
{
	font-weight: 800;
}

i, em, cite
{
	font-style: italic;;
}

blockquote
{
	margin-left: 0;
	padding-left: 40px;
	border-left: 6px solid $orange;
	// width: 100%
	// float: left;
	// display: block;
}

