/*----- Padding Fix -----*/

*
{
	box-sizing: border-box;
}

/*----- Clear Fix -----*/

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*----- Body Styles -----*/

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', helvetica, sans-serif;
  background: #293241;
}

a {
  transition: 333ms all ease-in-out;
}

nav a:hover {
  color: #17B890;
}

.button
{
    background: #EE6C4D;
    color: white;
    padding: 10px 15px;
    font-size: 13px;
    text-decoration: none;
}

.button:hover
{
  background: #293241;
    color: white;
}

main a
{
    color: #EE6C4D;
    text-decoration: none;
}

main a:hover 
{
    color: #293241;
}


/*----- Grid -----*/

.row {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.headerrow
{
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.column {
  float: left;
  margin-right: 2%;
}

.column.two-third {
  width: 65%;
}
.column.one-half {
  width: 49%;
}
.column.one-third {
  width: 32%
}

.column:last-of-type {
  margin-right: 0;
}

/*----- iframe -----*/

iframe
{
    max-width: 100%;
    margin: 18.720px;
}

/*----- Header ----- */

header
{
	background: #293241;
	padding: 10px;
    
}

body#home header
{
	margin-bottom: 0px;
}

header.row
{
	margin-bottom: 0px;
}

.logo
{
	float: left;
	width:65px;
}

nav
{
	padding-top: 21px;
}

header nav
{
	float: right;
	text-align: right;
}

nav a 
{
	margin-right: 20px;
  	font-size: 13px;
  	color: #E0FBFC;
  	text-decoration: none;
}

nav a:last-of-type
{
	margin: 0px;
}

.margin
{
    margin-top: 20px;
}

/*----- Main, Hero -----*/

.hero {
  background: #ccc;
  background-image: url('images/trees.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero h1 {
  margin: 0;
  color: #17B890;
  text-shadow: 0 0 10px #444;
  text-align: center;
    
}

img
{
  width: 100%;
}

.heroborder
{
    padding: 40px;
    border: 5px solid #17B890;
    margin-top: 120px;
    margin-bottom: 120px;
}

main
{
    background-color: #FFFFFF;
    padding-top: 1px;
    padding-bottom: 1px;
}

h3
{
    color: #EE6C4D;
}

.blog-roll
{
    padding-left: 0;
}

.blog-roll li
{
    display: block;
    list-style: none;
    margin-bottom: 60px;
}

.blog-roll li p
{
    color: #293241;
    margin-bottom: 25px;
}

/*----- Footer -----*/

footer
{
	background: #293241;
	
	font-size: 11px;
	text-align: center;
    
}

footer p
{
    
    color: #E0FBFC;
    margin: 0;
    padding-top: 21px;
    padding-bottom: 21px;
}

/*----- Media Queries -----*/

@media (max-width: 500px) {
  header {
    text-align: center;
  }

  .logo {
    float: none;
    width: 80px;
  }

  header nav {
    float: none;
    text-align: center;
  }

  .column {
    width: 100% !important;
    margin-right: 0;
  }
}

